.bakgrund{
    border: 3px solid #D6001C;
    border-radius: 7px;
    background-image: url("./img/snow_winter_trees.jpg");
    padding: 1%;
}

h1{
    font-family: Mountains of Christmas;
    text-align: center;
    font-size: 300%;

}
.top{
    border: 3px solid #D6001C;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1%;
    
}

.bilder{
    border: 3px solid black;
    width: 150px;
    border-radius: 5px;

}

.main{
    border: 3px solid #D6001C;
    border-radius: 7px;
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
}

.vänster{
    display: flex;
    flex-direction: column;
    border: 3px solid #D6001C;
    border-radius: 7px;
    width: 30%;
    align-items: center;
    margin: 5px;
    justify-content: space-between;

}

.höger{
    
}

