.bakgrund{
    border: 3px solid #D6001C;
    border-radius: 7px;
    background-image:  url("./img/snow_winter_trees.jpg");
    padding: 1%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

h1{
    font-family: Mountains of Christmas;
    text-align: center;
    font-size: 300%;

}
.top{
    border: 3px solid #D6001C;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1%;
    
}

.bilder{
    border: 3px solid black;
    width: 135px;
    border-radius: 5px;

}
.länk{
    padding: 5px;
}
.main{
    border: 3px solid #D6001C;
    border-radius: 7px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.vänster{
    display: flex;
    flex-direction: column;
    border: 3px solid #D6001C;
    border-radius: 7px;
    width: 230px;
    align-items: center;
    margin: 5px;

}


.mitten{
    border: 3px solid #D6001C;
    margin: 5px;
    border-radius: 7px;
}

.höger{
    border: 3px solid #D6001C;
    border-radius: 7px;
    margin: 5px;
    width: 120px;
}

.julgran{
    width: 100px ;
    height: 300px;
}

.botten{
    border: 3px solid #D6001C;
    border-radius: 7px;
    margin: 3px;
    text-align: center;
}

